.photo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100vw;
}

.photo-container {
  margin: 24px;
  max-width: 280px;
}

.photo-container img {
  max-width: 280px;
  max-height: 280px;
}
